body {
    color: #cbc5c1;
    background-color: #4c586f;
}

.simple-button, .mode-btn-light {
    color: #cbc5c1;
    border-color: #cbc5c1;
}

.btn-light, .mode-btn-dark {
    background-color: #cbc5c1;
    color: #4c586f;
}
.btn:hover {
    color: #4c586f;
    background-color: #cbc5c1;
    border-color: #cbc5c1;
}