body {
    color: #1687a7;
    background-color: #f1f3f8;
}

.simple-button, .mode-btn-light {
    color: #1687a7;
    border-color: #1687a7;
}

.btn-light, .mode-btn-dark {
    background-color: #1687a7;
    color: #f1f3f8;
}
.btn:hover {
    color: #f1f3f8;
    background-color: #1687a7;
    border-color: #1687a7;
}