body {
    color: #79a3b1;
    background-color: #fcf8ec;
}

.simple-button, .mode-btn-light {
    color: #79a3b1;
    border-color: #79a3b1;
}

.btn-light, .mode-btn-dark {
    background-color: #79a3b1;
    color: #fcf8ec;
}
.btn:hover {
    color: #fcf8ec;
    background-color: #79a3b1;
    border-color: #79a3b1;
}