body {
    color: #845460;
    background-color: #ead3cb;
}

.simple-button, .mode-btn-light {
    color: #845460;
    border-color: #845460;
}

.btn-light, .mode-btn-dark {
    background-color: #845460;
    color: #ead3cb;
}

.btn:hover {
    color: #ead3cb;
    background-color: #845460;
    border-color: #845460;
}