body {
    color: #9c3d54;
    background-color: #faf3f3;
}

.simple-button, .mode-btn-light {
    color: #9c3d54;
    border-color: #9c3d54;
}

.btn-light, .mode-btn-dark {
    background-color: #9c3d54;
    color: #faf3f3;
}

.btn:hover {
    color: #faf3f3;
    background-color: #9c3d54;
    border-color: #9c3d54;
}