{% include "header.html" %}

{% if not game: %}
<body>

    <h1 class="title-margin"> Jak rychle?</h1>
    <a href="{{ url_for('hra2', color=mode, game=1, speed=2000) }}"><button id="tHrat1" class="{{ settings['light_btn'] }}">Pomalu 🐨</button></a>
    <a href="{{ url_for('hra2', color=mode, game=1, speed=1400) }}"><button id="tHrat2" class="{{ settings['light_btn'] }}">Středně 🦝</button></a>
    <a href="{{ url_for('hra2', color=mode, game=1, speed=800) }}"><button id="tHrat3" class="{{ settings['light_btn'] }}">Rychle 🐼</button></a>

    <a href="{{ url_for('colored', color=mode)}}"><button class="{{ settings['dark_btn'] }}">Domů 🏠</button></a>

</body>
{% else: %}
<body onload="Hra( {{ speed }}, {{ kruhy }})">
    <h2 id="casovacNapis" style="visibility: hidden"> 00:00 </h2>
    <h2 id="hlavniNapis">Tvůj kruh:</h2>
    <h3 id="procentaNapis" style="visibility: hidden"> 30 %</h3>
    <img id="velkyKruh" class="velky-kruh" style="visibility: hidden">
    <button id="tlacitkoZnovu" class="{{ settings['light_btn'] }} title-margin-top" onclick="HratZnovu()" style="visibility: hidden; position: fixed">Hrát znovu 🎯</button>
    <a id="anchorDomu" href="{{ url_for('colored', color=mode)}}"><button id="tlacitkoDomu" class="{{ settings['dark_btn'] }}">Domů 🏠</button></a>

    <script src="{{ url_for('static', filename='script2.js') }}"></script>
  </body>
{% endif %}
</html>