{% include "header.html" %}

<body>
	<h2 id="skore" style="visibility: hidden"> 00 </h2>
	<h1 id="napis-postreh"> Zvol si level </h1>

	<button id="tlacitkoZnovu" class="btn btn-outline-info btn-lg" onclick="HratZnovu()" style="visibility: hidden">Hrát znovu 🐍</button>

	<button id="button1" class="btn btn-outline-info btn-lg" onclick="setInterval(VytvorKruh, 750)">Začátečník 🐢 </button>
    <button id="button2" class="btn btn-outline-info btn-lg" onclick="setInterval(VytvorKruh, 500)">Pokročilý 🦎 </button>
    <button id="button3" class="btn btn-outline-info btn-lg" onclick="setInterval(VytvorKruh, 400)">Expert 🦕 </button>
    <button id="button4" class="btn btn-outline-info btn-lg" onclick="setInterval(VytvorKruh, 200)">Mistr 🦖 </button>
    <a id="anchor-postreh" href="{{ url_for('home')}}" ><button  id="domu-postreh" class="btn btn-dark btn-lg">Domů 🏠</button></a>

    <script src="{{ url_for('static', filename='script-g1.js') }}"></script>
  </body>
</html>
