{% include "header.html" %}

<body>
    <h2 id="casovac" style="visibility: hidden"> 00:00 </h2>
	<h1 id="napis-presnost"> Jak rychle?</h1>
    <h3 id="procenta-presnost" style="visibility: hidden"> 30 %</h3>
    <img id="velky-kruh" class="velky-kruh" style="visibility: hidden">

    <button id="tZnovu" class="btn btn-outline-info btn-lg" onclick="HratZnovu()" style="visibility: hidden; position: fixed">Hrát znovu 🎯</button>

	<button id="tHrat1" class="btn btn-outline-info btn-lg" onclick="Hrat(1500)">Pomalu 🐨</button> 
    <button id="tHrat2" class="btn btn-outline-info btn-lg" onclick="Hrat(1150)">Středně 🦝</button> 
    <button id="tHrat3" class="btn btn-outline-info btn-lg" onclick="Hrat(800)">Rychle 🐼</button> 

    <a id="domu-a" href="{{ url_for('home')}}"><button id="domu-presnost" class="btn btn-dark btn-lg">Domů 🏠</button></a>

    <script src="{{ url_for('static', filename='script-g2.js') }}"></script>
  </body>
</html>