{% include "header.html" %}

{% if mode == "light": %}
    <link href="{{ url_for('static', filename='light.css') }}" rel="stylesheet" type="text/css" />
{% elif mode == "dark": %}
    <link href="{{ url_for('static', filename='dark.css') }}" rel="stylesheet" type="text/css" />
{% else: %}
    <link href="{{ url_for('static', filename='pink.css') }}" rel="stylesheet" type="text/css" />
{% endif %}
</head>

{% if not game: %}
<body>
	<h1 class="title-margin"> Připravit </h1>
    <a href="{{ url_for('hra3', color=mode, game=1) }}"><button class="{{ settings['light_btn'] }}">Start 🏁</button></a>
    <a href="{{ url_for('colored', color=mode)}}"><button class="{{ settings['dark_btn'] }}">Domů 🏠 </button></a>

  </body>
{% else: %}
<body onload="Hrat()" onclick="KlikutiKonec()">
    <h1 id="hlavniNapis" class="title-margin" style="visibility: hidden"> Moc brzo!</h1>
	<button id="tlacitkoZnovu" class="{{ settings['light_btn'] }}" onclick="HratZnovu()" style="visibility: hidden">Hrát znovu ⏱</button>
    <a href="{{ url_for('colored', color=mode)}}" id="anchorDomu" style="visibility: hidden"><button id="tlacitkoDomu" class="{{ settings['dark_btn'] }}" style="visibility: hidden">Domů 🏠 </button></a>
    <img id="tlacitkoKruh" class="kruh-tlacitko" src="/static/images/{{ kruhy }}" style="visibility: hidden" onclick="SpravneKliknuti()">

    <script src="{{ url_for('static', filename='script3.js') }}"></script>
</body>
{% endif %}
</html>