{% include "header.html" %}

<body>
    <h2 id="stopky" style="visibility: hidden"> 00:00 </h2>
	<h1 id="napis-rychlost"> Nachystat</h1>

	<button id="tlZnovu" class="btn btn-outline-info btn-lg" onclick="HratZnovu()" style="visibility: hidden">Hrát znovu ⏱</button>

	<button id="tlHrat" class="btn btn-outline-info btn-lg" onclick="Hrat()">Start 🏁</button> 

    <a href="{{ url_for('home')}}"><button id="domu-rychlost" class="btn btn-dark btn-lg">Domů 🏠 </button></a>

    <img id="bily-kruh" class="kruh-tlacitko" src="{{ url_for('static', filename='images/k-bily.png') }}" style="visibility: hidden" onclick="PredcasneKliknuti()">
    <img id="kruh-tlacitko" class="kruh-tlacitko" src="{{ url_for('static', filename='images/k7.png') }}" style="visibility: hidden" onclick="SpravneKliknuti()">

    <script src="{{ url_for('static', filename='script-g3.js') }}"></script>
  </body>
</html>