{% include "hlavicka.html" %}

{% if not hra: %}
<body>
	<h1 class="napis-odsazeni"> Nachystat </h1>
    <a href="{{ url_for('hra3', barva=mode, hra=1) }}">
        <button class="{{ nastaveni['svetly_btn'] }}">Start 🏁</button>
    </a>
    <a href="{{ url_for('barevny', barva=mode)}}">
        <button class="{{ nastaveni['tmavy_btn'] }}">Domů 🏠 </button>
    </a>

  </body>
{% else: %}
<body onload="Hra()" id="herniPozadi" onclick="KonecHry()">
    <h1 id="hlavniNapis" class="napis-odsazeni" style="display: none"> Moc brzo!</h1>
	<button id="tlacitkoZnovu" class="{{ nastaveni['svetly_btn'] }}" onclick="HrajZnovu()" style="display: none">Hrát znovu ⏱</button>
    <a href="{{ url_for('barevny', barva=mode)}}" id="odkazDomu" style="display: none">
        <button id="tlacitkoDomu" class="{{ nastaveni['tmavy_btn'] }}" style="display: none">Domů 🏠 </button>
    </a>
    <div id="kruhKeKliknuti" class="kruh kruh-tlacitko" style="display: none" onclick="PriSpravnemKliknuti()"></div>
    <script src="{{ url_for('static', filename='script3.js') }}"></script>
</body>
{% endif %}
</html>