{% include "hlavicka.html" %}

<body>

	<h1 class="napis-odsazeni"> Jak hrát? </h1>

    <div class="info-text">
    <p class="napis-spodni-odsazeni">

        <strong>Vyčisti obrazovku</strong>: klikáním na kruhy co nejdříve vyčisti displej. Můžeš si zvolit rychlost. Pokus se o co nejnižší skóre!
        <br>
        <strong>Stejné barvy</strong>: zvětši svůj kruh na maximum klikáním na kruhy stejné barvy. Ale pozor jiné barvy jej opět zmenší! Jak rychle to zvládneš?
        <br>
        <strong>Reakční doba</strong>: otestuj své reflexy. Ihned jak se obrazovka zbarví, klikni na ni a zjisti svou reakční dobu v milisekundách!

    </p>
    </div>
    <a href="{{ url_for('barevny', barva=mode) }}">
        <button class="{{ nastaveni['tmavy_btn'] }} info-tlacitko">Domů 🏠</button>
    </a>
  </body>
</html>