{% include "header.html" %}

<body>

	<h1 class="title-margin"> Jak hrát? </h1>

    <div class="info-text">
    <p class="title-margin-bottom">

        <strong>Postřeh</strong>: klikáním na kruhy co nejdříve vyčisti displej. Můžeš si zvolit rychlost. Pokus se o co nejnižší skóre!
        <br>
        <strong>Přesnost</strong>: zvětši svůj kruh na maximum klikáním na kruhy stejné barvy. Ale pozor jiné barvy jej opět zmenší! Jak rychle to zvládneš?
        <br>
        <strong>Rychlost</strong>: otestuj své reflexy. Jak uvidíš kruh, klikni na něj a zjisti svou reakční dobu v milisekundách!

    </p>
    </div>
    <a href="{{ url_for('colored', color=mode) }}"><button class="{{ settings['dark_btn'] }} wide-button">Domů 🏠</button></a>
  </body>
</html>