{% include "header.html" %}

<body>

	<h1 class="title-margin"> Jak hrát? </h1>

    <div class="info-text">
    <p class="title-margin-bottom">

        <strong>Postřeh</strong>: klikáním na kruhy co nejdříve vyčisti displej. Můžeš si zvolit rychlost.
        <br>
        <strong>Přesnost</strong>: zvětši svůj kruh na maximum klikáním na kruhy stejné barvy. Ale pozor jiné barvy jej opět zmenší!
        <br>
        <strong>Rychlost</strong>: otestuj své reflexy. Jak uvidíš kruh, klikni na něj. Nikdy ale dříve!

    </p>
    </div>
    <a href="{{ url_for('home') }}"><button class="tlacitko btn btn-dark btn-lg">Domů 🏠</button></a>
  </body>
</html>